form {
	max-width: 280px;
	margin: auto;
}
 
fieldset {
	padding: 0 20px 20px 20px;
	margin-bottom: 10px;
	border: 2px solid #FF9966;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
}
 
legend {
	color: #FF9966;
	font-weight: bold
}
 
label {
	margin-top: 20px;
	display: block;
}
 
label.inline {
	display: inline;
	margin-right: 100px;
}
 
input {
	background-color:#FFF3F3;
	padding: 3px;
	border: 1px solid #F5C5C5;
	border-radius: 5px;
	width: 200px;
	margin-top: 10px;
	margin-bottom: 15px;
	box-shadow: 1px 1px 2px #FF9966 inset;
	font-weight: bold;
}
 
input[type=submit] {
	width: 100px;
	margin-left: 5px;
	box-shadow: 1px 1px 1px #FF9966;
	cursor: pointer;
	margin-bottom: 5px!important;
}

input[type=submit]:hover {
	background-color: #EF8956!important;
	color: white;
}

#error {
	color: red;
	font-weight: bold;
}

#websitePresentation {
	text-align: justify;
}

#websitePresentation fieldset {
	padding: 5px 20px!important;
}

#websitePresentation p {
	margin: 8px 0px;
}

span.bold {
	font-weight: bold;
}