#coursesBlock {
	display: table;
	width: 100%;
}

#coursesBlock a {
	text-decoration: none;
	color: black;
}

#coursesBlock li.add {
	text-align: center;
	font-weight: bold;
	text-decoration: none!important;
	color: black!important;
}

#coursesBlock #menu {
	display: table-cell;
	width: 200px;
	border: 1px solid blue; /* TODO : remove - just for test */
}

#coursesBlock #courseDetails {
	display: table-cell;
	width: auto;
	border: 1px solid red; /* TODO : remove - just for test */
}

#coursesBlock .bold {
	font-weight: bold;
	margin: 2px auto;
}

#coursesBlock ul {
	padding: 0px;
	list-style: none;
}

#coursesBlock li {
	text-align: left;
	padding: 5px 0px 5px 2px;
	cursor: pointer;
}

#coursesBlock li:hover {
	background: rgb(255, 153, 102);
	color: white;
}

/* ============================================ CourseEnrollView ========================================================== */
#courseEnrollBlock form {
	max-width: 100%!important;
}

#courseEnrollBlock ul {
	padding: 0px;
	list-style: none;
}

#courseEnrollBlock li {
	text-align: left;
	cursor: pointer;
	border-bottom: 2px inset darkgrey;
}

#courseEnrollBlock li:hover {
	background: rgb(255, 153, 102);
	color: white;
}

#courseEnrollBlock p.title {
	text-align: center;
	font-weight: bold;
}

#courseEnrollBlock p {
	padding: 2px 0px;
	margin: 0!important;
}

#courseEnrollBlock input[type=checkbox] {
	width: auto!important;
	float: right;
}
