#authentication #content {
	margin-top: 10px!important;
}

#authentication form {
	margin: auto;
	max-width: 600px!important;
}

#authentication label {
	margin-top: 20px;
	display: inline-block;
	width: 150px;
	text-align: left;
}

#authentication fieldset {
	border: none;
}

#authentication legend {
	border-bottom: 2px dashed #FF6633;
	text-align: center;
	width: 100%;
}

#authentication input {
	background-color:#FFF3F3;
	padding: 3px;
	border: 1px solid #F5C5C5;
	border-radius: 5px;
	width: 250px;
	margin: 5px auto;
	box-shadow: 1px 1px 2px #FF9966 inset;
}

#authentication select {
	width: 250px;
}

#authentication .radio {
	width: 250px;
	display: inline-block;
	text-align: left;
}

#authentication .formBlock {
	display: block;
}

#authentication #statusLabel label {
	vertical-align: top;
}

#authentication input[type=radio] {
	width: auto;
	margin-right : 5px;
}
 
#authentication input[type=submit], #authentication input[type=button] {
	width: 100px;
	display: inline-block;
	box-shadow: 1px 1px 1px #FF9966;
	cursor: pointer;
	margin-bottom: 10px!important;
}

#authentication input[type=submit]:hover, #authentication input[type=button]:hover {
	background-color: #EF8956!important;
	color: white;
}
